.bgImage {
  min-width: fit-content;
  background-image: url("https://wallpaperaccess.com/full/811658.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  /* min-height: fit-content; */

  /*
   znaci ovaj height stavljamo zbog manjih ekrana a na velike nam ne smeta jer samo stavimo overflow hidden i onda se ne vidi scroll a na manje nam treba zbog responsive da nema margina dolje tj da nije background image samo fit-content ali zasad pa vidjecu kad uradim responsive onda mzd i bude moglo samo fit-content
  samo mu dajemo height da ne bude fit content nego vise kad budemo radio responsive mzd i ne bude trebalo jer ako stavim footer na dno ne treba */
}

/* @media (max-width: 853px) {
  .bgImage {
    min-height: 200vh; koliko trebadne xdd
   }  
 } */

@media (min-width: 850px) and (min-height: 647px) {
  .bgImage {
    height: 100vh;
    overflow: hidden;
  }
}
